<div class="main-page">
  <button class="btn btn-primary" basic-click="mpc.load()">
    load
  </button>
  <button class="btn btn-primary" basic-click="mpc.store()">
    store
  </button>
  <button class="btn btn-primary" basic-click="mpc.countLangs()">
    count
  </button>
  <div class="black" ng-repeat="mem in mpc.members">
    <div class="black">
      <h2>Name:</h2>
      <p ng-bind="mem.login"></p>
      <img class="space-bottom" ng-src="{{mem.avatar_url}}">
      <h3 ng-if="mem.langCounts">Languages and Counts:</h3>
      <div ng-repeat="count in mem.langCounts">
        <div ng-if="count.count > 0">
          <span ng-bind="count.lang" class="label label-default"></span>
          <span class="badge" ng-bind="count.count"></span>
        </div>
      </div>
      <br>
      <button class="btn btn-primary" basic-click="mem.isRepHeadingCollapsed = !mem.isRepHeadingCollapsed">
        {{mem.isRepHeadingCollapsed ? 'Hide Details' : 'Show Details' }}
      </button>
      <div collapse="!mem.isRepHeadingCollapsed">
        <h3>Number of repos:</h3>
        <p ng-bind="mem.repos.length"></p>
        <h3>Repositories and Languages:</h3>
        <div ng-repeat="repo in mem.repos">
          <label basic-click="repo.isCollapsed = !repo.isCollapsed" ng-bind="repo.repoName"></label>
          <div collapse="!repo.isCollapsed">
            <div ng-repeat="lang in repo.lang">
              <p ng-bind="lang"></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
